{% load static %}
<header>
        <div class="navigation">
            <nav class="navbar navbar-expand-lg bg-body-tertiary ">
                <div class="container-fluid">
                    <div class="header-block d-flex justify-content-between">
                        <a class="navbar-brand logo" href="{% url 'home' %}"><img src="{% static '/images/f&h.png' %}" alt="logo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
                                        target="_blank">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        about
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="./about.html " target="_blank">about us</a>
                                        </li>
                                        <li><a class="dropdown-item" href="./team.html" target="_blank">our team</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        shop
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">product</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        news
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">news</a></li>
                                        <li><a class="dropdown-item" href="#">news detial</a></li>
                                    </ul>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">contact</a>
                                </li>
                                </li>
                            </ul>
                            <div class="login-buttons">
                                <a href="{% url 'login' %}" class="shop-now btn btn-primary">login</a>
                                <a href="{% url 'reg' %}" class="shop-now btn btn-secondary">sign up</a>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

