{% load static %}
    <!--section class="news-letter m-0 p-0">
        <div class="row subscribe-box m-0 p-0">
            <div class="col-md-12 d-flex">
                <div class="col-md-6 px-5">
                    <div class="icon-folder d-flex align-items-center">
                        <i class="fa-brands fa-slack"></i>
                        <h2>Subscribe our newsletter</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating d-flex">
                                    <input type="email" class="form-control " id="floatingInputGrid"
                                        placeholder="name@example.com" value="  ">
                                    <label for="floatingInputGrid">Email address</label>
                                    <button type="submit" class="sub-button"><i
                                            class="fa-solid fa-paper-plane"></i></button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </section-->


    <footer class="footer-block">
        <div class="container">
            <div class="row footer-main">
                <div class="col-md-3 ">
                    <div class="footer-img d-flex align-items-center">
                        <img src="{% static '/images/logo.png' %}" alt="logo">
                        <h2>F&H</h2>
                    </div>
                    <h4 class="footer-heading">we're providing everyday fresh and best quality products.</h4>
                    <div class="social-links d-flex gap-3">
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="col-md-3 d-flex links">
                    <ul>
                        <h4>explore</h4>
                        <li><a href="{% url 'about' %}">about company</a></li>
                        <li><a href="{% url 'shop' %}">Shop Now</a></li>
                        <li><a href="#categorie-section">Product</a></li>
                        <li><a href="{% url 'contact' %}">contact</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="contact">
                        <h4>contact</h4>
                        <p><span>c-133, phase-8, industrial area, mohali (punjab)</span></p>
                        <h6>+92 (8800) 68-8909</h6>
                        <a href="mailto:akashdhaliwal808@gmail.com">info@example.com</a>
                    </div>
                </div>
                <div class="col-md-3 map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.2660005880293!2d76.70868407467573!3d30.710921586688038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee8acf5370cd%3A0x45d0b685220ae577!2sPlot%20No.%20C%2C%20133%2C%20Phase-8%2C%20Industrial%20Area%2C%20Sector%2074%2C%20Sahibzada%20Ajit%20Singh%20Nagar%2C%20Punjab%20160055!5e0!3m2!1sen!2sin!4v1681994287419!5m2!1sen!2sin"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="row bg-dark m-0 p-0">
            <div class="container">
                <div class="copyright">
                    <div class="col-md-6">
                        &copy copyright 2023 by company.com
                    </div>
                    <div class="col-md-6 copyright-links">
                        <a href="{% url 'terms' %}">terms & condition </a><strong>/</strong>
                        <a href="{% url 'privacy' %}">privacy policy </a><strong>/</strong>
                        <a href="{% url 'privacy' %}">privacy policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


